<script>
    import { onMount } from 'svelte';

    const calendar_for_head = [
        {
            name: "Январь",
            number: "01"
        },
        {
            name: "Февраль",
            number: "02"
        },
        {
            name: "Март",
            number: "03"
        },
        {
            name: "Апрель",
            number: "04"
        },
        {
            name: "Май",
            number: "05"
        },
        {
            name: "Июнь",
            number: "06"
        },
        {
            name: "Июль",
            number: "07"
        },
        {
            name: "Август",
            number: "08"
        },
        {
            name: "Сентябрь",
            number: "09"
        },
        {
            name: "Октябрь",
            number: "10"
        },
        {
            name: "Ноябрь",
            number: "11"
        },
        {
            name: "Декабрь",
            number: "12"
        },
    ]
    let calendar = [];
    let month = [];
    let test;
    let first_data = "";

    onMount(async () => {
        const response = await fetch("https://test.digitalpartnersglobal.com/test/calendar.json");
		test = await response.json();
        let i = 0;

        for (let key in test) {
            if (i === 0) {
                first_data = key
            }
            // console.log(`key: ${key}, value: ${test[key]}`);
            calendar.push({"data": key, "value": test[key]})
            i++;
        }

        // for (let i = 0; i < calendar.length; i++) {
        //     const div = document.createElement("div");
        //     // p.textContent = test[key];
        //     document.querySelector(".calendar").appendChild(div);
        // }

        let D = new Date(first_data);
        let Till = new Date(calendar[calendar.length - 1].data);
        let result = [];

        function pad(s){ return ('00' + s).slice(-2)}

        month.push(pad(D.getMonth()+1))

        while( D.getTime() <= Till.getTime()) {
            result.push( '' + D.getFullYear() +'-'+ pad(D.getMonth()+1) +'-'+ pad(D.getDate()));
            D.setDate( D.getDate()+1);
            console.log(pad(D.getMonth()+1));

            if (pad(D.getMonth()+1) !== month[month.length - 1]) {
                month.push(pad(D.getMonth()+1))
            }
        }

        for (let i = 0; i < month.length; i++) {
            for (let j = 0; j < calendar_for_head.length; j++) {
                if (month[i] === calendar_for_head[j].number) {
                    const h1 = document.createElement("h1");
                    h1.textContent = calendar_for_head[j].name;
                    document.querySelector(".calendar__head").appendChild(h1);
                }
            }

            const div = document.createElement("div");
            div.classList.add("section");
            div.id = `month${month[i]}`;
            document.querySelector(".calendar__body").appendChild(div);
        }

        for (let i = 0; i < result.length; i++) {
            const div = document.createElement("div");
            div.classList.add("item");

            const info = document.createElement("div");
            info.classList.add("info");

            const info_h1 = document.createElement("h1");
            info_h1.textContent = `No contributions`;

            const info_p = document.createElement("p");
            info_p.textContent = result[i];

            for (let j = 0; j < calendar.length; j++) {
                if (result[i] === calendar[j].data) {
                    // div.classList.add("item");
                    if (calendar[j].value >= 1 && calendar[j].value <= 9) {
                        div.classList.add("color-1");
                    } else if (calendar[j].value >= 10 && calendar[j].value <= 19) {
                        div.classList.add("color-2");
                    } else if (calendar[j].value >= 20 && calendar[j].value <= 29) {
                        div.classList.add("color-3");
                    } else if (calendar[j].value >= 30) {
                        div.classList.add("color-4");
                    }

                    info_h1.textContent = `${calendar[j].value} contributions`;

                    div.dataset.value = calendar[j].value;
                }
            }

            div.dataset.data = result[i]
            let arr = result[i].split("-");
            console.log(`#${arr[1]}`);
            document.querySelector(`#month${arr[1]}`).appendChild(div);
            div.appendChild(info);
            info.appendChild(info_h1);
            info.appendChild(info_p);

            if (arr[1] === "02" && arr[2] === "28") {
                const div_empty = document.createElement("div");
                div_empty.classList.add("empty");
                document.querySelector(`#month02`).appendChild(div_empty);
            }
        }

        console.log(month);
    });
</script>

<style>
    .calendar {
        width: 900px;
        margin: 0 auto;
        margin-top: 200px;
    }

    .calendar > .calendar__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .calendar > .calendar__head > :global(h1) {
        color: #959494;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .calendar > .calendar__body {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 2px;
        margin-bottom: 15px;
    }

    .calendar > .calendar__body > :global(.section) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item) {
        width: 15px;
        height: 15px;
        background-color: #EDEDED;
        position: relative;
        cursor: pointer;
    }

    .calendar > .calendar__body > :global(.section) > :global(.empty) {
        width: 15px;
        height: 15px;
    }

    .calendar > .calendar__body > :global(.section) > :global(.color-1) {
        background-color: #ACD5F2;
    }

    .calendar > .calendar__body > :global(.section) > :global(.color-2) {
        background-color: #7FA8C9;
    }

    .calendar > .calendar__body > :global(.section) > :global(.color-3) {
        background-color: #7FA8C9;
    }

    .calendar > .calendar__body > :global(.section) > :global(.color-4) {
        background-color: #254E77;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item) > :global(.info) {
        position: absolute;
        top: -358%;
        left: -535%;
        background-color: #000;
        border-radius: 3px;
        padding-top: 5px;
        padding-bottom: 6px;
        display: none;
        width: 145px;
        text-align: center;
        z-index: 1;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item) > :global(.info) > :global(h1) {
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 4px;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item) > :global(.info) > :global(p) {
        color: #7C7C7C;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item) > :global(.info)::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: #000;
        transform: rotate(45deg);
        position: absolute;
        bottom: -3px;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item):hover > :global(.info) {
        display: block;
    }

    .calendar > .calendar__body > :global(.section) > :global(.item):hover {
        border: 1px solid #000;
        box-sizing: border-box;
    }

    .calendar > .calendar__footer {
        display: flex;
        align-items: center;
    }

    .calendar > .calendar__footer {
        color: #959494;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
    }

    .calendar > .calendar__footer > .calendar__footer__colors {
        margin-left: 6.45px;
        margin-right: 9.58px;
        display: flex;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > .calendar__footer__colors__item {
        width: 15px;
        height: 15px;
        position: relative;
        margin-right: 2px;
        cursor: pointer;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > .calendar__footer__colors__item:last-of-type {
        margin-right: 0;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > :global(.color-0) {
        background-color: #EDEDED;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > :global(.color-1) {
        background-color: #ACD5F2;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > :global(.color-2) {
        background-color: #7FA8C9;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > :global(.color-3) {
        background-color: #7FA8C9;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > :global(.color-4) {
        background-color: #254E77;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > .calendar__footer__colors__item > .calendar__footer__colors__item__info {
        position: absolute;
        top: -208%;
        left: -371%;
        background-color: #000;
        border-radius: 3px;
        padding-top: 5px;
        padding-bottom: 6px;
        display: none;
        width: 119px;
        text-align: center;
        z-index: 1;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > .calendar__footer__colors__item:hover > .calendar__footer__colors__item__info {
        display: block;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > .calendar__footer__colors__item > .calendar__footer__colors__item__info::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: #000;
        transform: rotate(45deg);
        position: absolute;
        bottom: -3px;
    }

    .calendar > .calendar__footer > .calendar__footer__colors > .calendar__footer__colors__item > .calendar__footer__colors__item__info > h1 {
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
</style>

<div class="calendar">
    <div class="calendar__head">
        
    </div>

    <div class="calendar__body">

    </div>

    <div class="calendar__footer">
        <p>Меньше</p>
        
        <div class="calendar__footer__colors">
            <div class="calendar__footer__colors__item color-0">
                <div class="calendar__footer__colors__item__info">
                    <h1>No contributions</h1>
                </div>
            </div>

            <div class="calendar__footer__colors__item color-1">
                <div class="calendar__footer__colors__item__info">
                    <h1>1-9 contributions</h1>
                </div>
            </div>

            <div class="calendar__footer__colors__item color-2">
                <div class="calendar__footer__colors__item__info">
                    <h1>10-19 contributions</h1>
                </div>
            </div>

            <div class="calendar__footer__colors__item color-3">
                <div class="calendar__footer__colors__item__info">
                    <h1>20-29 contributions</h1>
                </div>
            </div>

            <div class="calendar__footer__colors__item color-4">
                <div class="calendar__footer__colors__item__info">
                    <h1>30+ contributions</h1>
                </div>
            </div>
        </div>

        <p>Больше</p>
    </div>
</div>